@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&subset=latin-ext');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &::after, &::before {
    @extend *;
  }
}

html, body {
	width: 100%;
	overflow-x: hidden;
}

body {
	color: #fff;
   background: $color__secondary url("../images/rm.png") no-repeat fixed bottom;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #000;
	outline: none;
	&:hover, &:focus {
		color: #2d2d30;
	}
}

.hidden {
  display: none;
}

.content {
	display: flex;
  flex-direction: column;
  justify-content: space-between;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	margin: 0;
  padding: calc-em(30);
}

.header {
  &__logo {
    svg {
      width: 100px;
      height: 50px;
    }
  }
  &__menu {
  float: right;
    svg {
      width: 50px;
      height: 50px;
    }
  }
}

.main {
  display: flex;
  justify-content:  center;
  text-align: center;
}

.box {
  background: $color__primary;
  padding: calc-em(20);
  width: 50%;
}


.footer {

}
