h1 {
    font-size: calc-em(56);
    line-height: (60/54);
    font-family: $text__family-sans;
    font-weight: 900;
    color: #fff;
    float: left;
    width: 100%;
}

h2 {
    font-size: calc-em(24);
    line-height: (28/24);
    font-family: $text__family-sans;
    color: #fff;
}

h3 {
    font-size: calc-em(20);
    line-height: (22/20);
    font-family: $text__family-sans;
}
