h1 {
    font-size: calc-em(36);
    line-height: (40/36);
    font-family: $text__family-sans;
    // margin-bottom: calc-em(10, 40);
    font-weight: bold;
    color: #fff;
}

h2 {
    font-size: calc-em(24);
    line-height: (28/24);
    font-family: $text__family-sans;
    // margin-bottom: calc-em(15, 40);
    color: #fff;
}

h3 {
    font-size: calc-em(20);
    line-height: (22/20);
    font-family: $text__family-sans;
    // margin-bottom: calc-em(15, 40);
}

// p {
//     font-size: calc-em(15);
//     line-height: (20/15);
//     font-family: $text__family-sans;
//     margin-bottom: calc-em(10, 15);
// }
