// COLORS
$color__primary: #2e1594 !default;
$color__secondary: #edd042 !default;
$color__secondary--darker: #e0c53e !default;

// FONTS
$base__font-size: 16 !default;
$base__line: 20 !default;
$text__family-sans: 'Playfair Display', serif !default;
$text__family-sans-serif: 'Roboto', sans-serif !default;
