// COLORS
$color__gray: #e6e0d8 !default;
$color__gray--dark: #cfc9c2 !default;
$color__yellow: #ddeb23 !default;
$color__yellow--dark: #c6d31f !default;
$color__green: #a9d649 !default;
$color__green--dark: #98c042 !default;
$color__charcoal: #4f4846 !default;
$color__charcoal--dark: #47413f !default;
$color__cyan: #5bc2c0 !default;
$color__cyan--dark: #52aeac !default;

// FONTS
$base__font-size: 16 !default;
$base__line: 20 !default;
$text__family-sans:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
