// COLORS
$color__primary: #e66b4a !default;
$color__secondary: #94e7d5 !default;

// FONTS
$base__font-size: 16 !default;
$base__line: 20 !default;
$text__family-sans: 'Playfair Display', serif !default;
